@-ms-viewport{
  width: device-width;
}
html,
body{
	display: block;
	min-height: 100%;
	margin: 0;
	box-sizing: border-box;
}
html{
}
body{
	min-height: 100%;
	position: relative;
}
#cnv_main{
	display: block;
	max-width: 100%;
	max-height: 100%;
} 